body {
    background-color: rgb(244, 239, 198);
}

#board {
    background-color: rgb(199, 240, 234);
    width: 60vh;
    height: 90vh;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    outline: 3vh solid rgb(75, 26, 52);
}

/*.bubble {
    background-color: rgb(212, 68, 145);
    position: absolute;
}*/

.bubble-pink {
    background-image: url(../resources/images/furry-balls-pink.png);
    background-size: cover;
    position: absolute;
}

.bubble-green{
    background-image: url(../resources/images/furry-balls-green.png);
    background-size: cover;
    position: absolute;
}

.bubble-yellow{
    background-image: url(../resources/images/furry-balls-yellow.png);
    background-size: cover;
    position: absolute;
}

.bubble-blue{
    background-image: url(../resources/images/furry-balls-blue.png);
    background-size: cover;
    position: absolute;
}
