body {
    background-color: rgb(244, 239, 198);
}

#board {
    background-color: rgb(199, 240, 234);
    width: 60vh;
    height: 90vh;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    outline: 3vh solid rgb(75, 26, 52);
}

/*.bubble {
    background-color: rgb(212, 68, 145);
    position: absolute;
}*/

.bubble-pink {
    background-color: rgb(212, 68, 145);
    position: absolute;
    border-radius: 50%;
    outline: 1px solid rgb(75, 26, 52);
    outline-offset: -1px;
}

.bubble-green{
    background-color: rgb(53, 218, 106);
    position: absolute;
    border-radius: 50%;
    outline: 1px solid rgb(75, 26, 52);
    outline-offset: -1px;
}

.bubble-yellow{
    background-color: rgb(229, 238, 69);
    position: absolute;
    border-radius: 50%;
    outline: 1px solid rgb(75, 26, 52);
    outline-offset: -1px;
}

.bubble-blue{
    background-color: rgb(80, 206, 228);
    position: absolute;
    border-radius: 50%;
    outline: 1px solid rgb(75, 26, 52);
    outline-offset: -1px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }